name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - run: |
          pip install wheel
          pip install get-chrome-driver --upgrade
          pip install -r selenium/requirements.txt
          get-chrome-driver --auto-download --extract
          python selenium/main.py
